.result-container {
  content: "";
  display: table;
  clear: both;
  position: relative;
  margin-right: 250px;
}

@media (min-width: 600px) {
  .result-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 900px) {
  .result-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

